@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

.site-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title a {
  font-size: 2.5rem; /* Increase font size */
  text-align: center;
}

.main-menu {
  font-size: 0.9rem; /* Decrease font size */
  margin-top: 1rem;
}
